# Généré par Ansible (rôle db_backup_agent). Ne pas modifier sur l'hôte.
# Stage : {{ db_backup_agent_stage }}
#
# Lu par {{ g4_bin_dir }}/db-backup-to-azure.sh et db-restore-drill.sh.
# Mode 0600, propriétaire root : hors du dépôt Git, hors de portée des
# comptes non privilégiés.
RESTIC_REPOSITORY={{ g4_restic_repository }}
RESTIC_PASSWORD={{ g4_restic_password }}
AZURE_ACCOUNT_NAME={{ g4_azure_account_name }}
AZURE_ACCOUNT_KEY={{ g4_azure_account_key }}
POSTGRES_USER={{ g4_postgres_user }}
POSTGRES_PASSWORD={{ g4_postgres_password }}
POSTGRES_DB={{ g4_postgres_db }}
PGHOST={{ db_backup_agent_pghost }}
PGPORT={{ db_backup_agent_pgport }}
DUMP_PATH=/tmp/g4_db.dump
BACKUP_TAG=g4-{{ db_backup_agent_stage }}
